<config>
    <modules>
        <Maxpronko_TaskManagement>
            <version>1.0.0</version>
        </Maxpronko_TaskManagement>
    </modules>
    <global>
        <blocks>
            <taskmanagement>
                <class>Maxpronko_TaskManagement_Block</class>
            </taskmanagement>
        </blocks>
        <models>
            <taskmanagement>
                <class>Maxpronko_TaskManagement_Model</class>
                <resourceModel>taskmanagement_mysql4</resourceModel>
            </taskmanagement>
            <taskmanagement_mysql4>
                <class>Maxpronko_TaskManagement_Model_Mysql4</class>
                <entities>
                    <tasks>
                        <table>maxpronko_tasks</table>
                    </tasks>
                </entities>
            </taskmanagement_mysql4>
        </models>
        <resources>
            <maxpronko_taskmanagement_setup>
                <setup>
                    <module>Maxpronko_TaskManagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </maxpronko_taskmanagement_setup>
            <taskmanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </taskmanagement_write>
            <taskmanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </taskmanagement_read>
        </resources>
        <helpers>
            <taskmanagement>
                <class>Maxpronko_TaskManagement_Helper</class>
            </taskmanagement>
        </helpers>
    </global>
    <frontend>
        <routers>
            <taskmanagement>
                <use>standard</use>
                <args>
                    <module>Maxpronko_TaskManagement</module>
                    <frontName>taskmanagement</frontName>
                </args>
            </taskmanagement>
        </routers>
        <layout>
            <updates>
                <taskmanagement>
                    <file>taskmanagement.xml</file>
                </taskmanagement>
            </updates>
        </layout>
    </frontend>
</config>
